.cursorDot{
    width: 5px;
    height: 5px;
    background-color: rgb(0, 0, 0);
}

.cursorOutline{
    width: 30px;
    height: 30px;
    border: 2px solid gray;
}

.cursorDot,
.cursorOutline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}