.container{
    width: 100%;
    padding: 0px 20px;
    padding-top: 20px;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLrXLrAQ5XqctG-PqV4lWLu2lsAVuaEWc7Mw&s"); */
    background-size: cover;
    background-position: center;
}

.heroSection{
    width: 100%;
    display: flex;

}

.infoSection{
    width: 60%;
    margin-top: 7%;
    padding: 8px 20px;
    display: flex;
    flex-direction: column;
}

.infoSection .heading{
    font-size: 80px;
    display: flex;
    flex-direction: column;

    span{
        font-family: 'Stardom', sans-serif;
    }
}

.infoSection p{
    margin-top: 8px;
    font-size: 17px;
    display: flex;
    flex-direction: column;

    span{
        margin-bottom: 12px;

        mark{
            font-weight: bold;
            font-size: 24px;
            color: #fdd017;
            background-color: transparent;
        }
    }
}

.infoSection .btn{
    width: 100%;
    margin-top: 20px;

    button{
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        background-color: #fdd017;
        letter-spacing: .5px;
    }
}

.imageSection{
    width: 40%;
    height: 100vh;
    background-color: transparent;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: multiply;
    }
}

/* .animation1{
    width: 400px;
    height: 400px;
    background-color: rgb(36, 151, 183);
    position: absolute;
    top: 10%;
    z-index: -1;
    filter: blur(200px);
} */