.container{
    width: 100%;
    border-bottom: solid 1px #c5c5c5;
    position: fixed;
    background-color: rgba(255, 255, 255,.5);
    backdrop-filter: blur(.8px);
    z-index: 1; 
}

.navContainer{
    width: 100%;
}

.navContainer nav{
    width: 100%;
    display: flex;
    padding: 10px;
}

.navContainer nav .logo{
    width: 220px;
    height: 22px;
    display: flex;
    align-items: center;

    img{
        width: 100%;
        height: 100%;
    }
}

.navContainer ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;


    li {
        list-style-type: none;
        margin: 4px 24px;
        position: relative;
        color: #1a1a1a;
        text-decoration: none;
        font-weight: 500;
    }

    li::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #020e1a;
        transition: width 0.3s ease;
    }

    li:hover::after {
        width: 100%;
    }

}

@media only screen and (max-width: 786px) {

    .container{
        background-color: rgba(255, 255, 255, .8);
        display: none;
    }

    .navContainer nav{
        width: 100%;
        display: flex;
        padding: 14px 10px;
    }

    .navContainer ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        li{
            margin: 0;
        }
    }

}