.skillsSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
}

.skillsTitle{
    font-size: 5rem;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 100;
}

.skillsGrid{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.skillCard {
    height: auto;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin: 20px;
    padding: 12px;
    position: relative;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease;
    transition: all 0.3s ease;
    transform: translateY(0);
}

.skillCard:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    transform: translateY(-2px);
}



.skillCard .imageSection{
    width: 80px;
    height: 70px;
    margin-bottom: 6px; 


    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    p{
        margin-top: 4px;
    }
}

@media only screen and (max-width: 768px) {
    .skillsTitle {
        font-size: 2.5rem;
        padding: 0 10px;
    }

    .skillsGrid {
        justify-content: center;
        gap: 12px;
    }

    .skillCard {
        width: 40%;
        margin: 10px;
    }


  .skillCard .imageSection {
    width: 60px;
    height: 60px;
  }

  .skillCard .imageSection p {
    font-size: 14px;
  }
}
