*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none; 
}

body {
  cursor: none;
  font-family: 'Cabinet Grotesk', sans-serif;
  letter-spacing: 0.02em;
}


li{
  list-style-type: none;
}

a {
  text-decoration: none;
}

p{
  letter-spacing: .5px;
}